@import "../styles/variables.css";

.label {
  font: "Open Sans";
  font-size: 1.2em;
  padding-left: 0px;
  display: block;
  color: var(--text);
}

.input {
  height: 41px;
  width: 214px;
  border: 0;
  border-radius: var(--corner-radius-small);

  background-color: var(--white);

  text-indent: var(--input-text-indent, 5px);
}

.input::placeholder {
  text-indent: var(--input-text-indent, 5px);
}
